<main role="main" class="inner cover">
  <h1 class="cover-heading">Busque por um usuario</h1>
  <p class="lead">Digite o email do usuário para visualizar a sua playlist de videos.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main>